.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.noteContainer {
  width: 60%;
}

.noteContainer textarea {
  background-color: inherit;
  color: inherit;
  border: 1px solid gainsboro;
  width: 40%;
  height: 150px;
  border-radius: 10px;
  padding: 10px;
}

.starRating {
  width: 60%;
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
  margin-bottom: 10px;
}

.noteInfo {
  position: relative;
  top: -80px;
  right: 310px;
  color: darksalmon;
}

.show {
  display: inline;
}

.hide {
  display: none;
}