.search {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  flex-wrap: wrap;
}

.search h2 {
  font-size: 1.8rem;
  width: 100%;
  text-align: center;
}

.search h1 {
  text-align: center;
  width: 100%;
}
